{%- if id is defined and id -%}
  {%- set id = id | lower -%}
{%- else -%}
  {%- set id = name | replace(' ', '_') | lower -%}
{% endif -%}
{%- if name | lower == 'heartbeat' -%}
  {%- set type = 'heartbeat' -%}
  {%- set arg_format = '     ' -%}
{%- else -%}
  {%- set type = 'threshold' -%}
{%- endif -%}
{%- set filtering_variable = 'base_filtering' -%}

{%- for key, signal in signals.items() -%}
  {%- if loop.last -%}
    {%- set last_signal = key -%}
  {%- endif %}
{%- endfor -%}
resource "signalfx_detector" "{{ id }}" {
  name{{ arg_format | default('') }} = format("%s %s", local.detector_name_prefix, "{{ module[0]|upper}}{{module[1:] }} {{ name | lower }}")
  {%- if type == 'heartbeat' %}
  max_delay = 900
  {%- endif %}

  program_text = <<-EOF
    {%- if type == 'heartbeat' %}
    from signalfx.detectors.not_reporting import not_reporting
    {%- endif %}
    {%- if filtering is defined and filtering %}
    {{ filtering_variable }} = {{ filtering }}
    {%- endif %}

    {%- for key, signal in signals.items() -%}
      {%- if 'metric' in signal %}
    {{ key }} = data('{{ signal.metric }}', filter={%- if exclude_not_running_vm is defined and exclude_not_running_vm -%}${local.not_running_vm_filters} and {% endif -%}{%- if filtering is defined and filtering -%}{{ filtering_variable }} and {% endif -%}${module.filter-tags.filter_custom}{%- if signal.extrapolation is defined and signal.extrapolation -%}, extrapolation='{{ signal.extrapolation }}'{% endif -%})
        {%- if aggregation | default(true) %}${var.{{ id }}_aggregation_function}{%- endif %}
        {%- if transformation | default(true)%}${var.{{ id }}_transformation_function}{%- endif %}
      {%- endif -%}
      {%- if 'formula' in signal %}
    {{ key }} = {{ signal.formula }}
      {%- endif -%}
      {%- if loop.last -%}
    .publish('{{ key }}')
      {%- endif %}
    {%- endfor %}
    {%- for key, rule in rules.items() %}
      {%- set severity = key | lower %}
      {%- set severity_label = severity | replace('critical', 'crit') | replace('warning', 'warn') | upper %}
      {%- if type == 'heartbeat' -%}
        {%- for key, signal in signals.items() -%}
          {%- if loop.last %}
    not_reporting.detector(stream={{ key }}, resource_identifier=None, duration='${var.heartbeat_timeframe}')
          {%- endif -%}
        {%- endfor -%}
      {%- else %}
        {%- if '>' in rule.comparator %}
          {%- set reverse_comparator = '<' %}
        {%- else %}
          {%- set reverse_comparator = '>' %}
        {%- endif %}
        {%- if '=' in rule.comparator %}
          {%- set negative_comparator = reverse_comparator %}
        {%- else %}
          {%- set negative_comparator = reverse_comparator ~ '=' %}
        {%- endif %}
    detect(when(signal {{ rule.comparator }} ${var.{{ id }}_threshold_{{ severity }}})
        {%- if 'dependency' in rule %} and when(signal {{ negative_comparator }} ${var.{{ id }}_threshold_{{ rule.dependency }}}){%- endif -%})
      {%- endif -%}
    .publish('{{ severity_label }}')
    {%- endfor %}
EOF

  {%- for key, rule in rules.items() %}

  rule {
    {%- set severity = key | lower %}
    {%- if type == 'heartbeat' %}
    description           = "has not reported in ${var.heartbeat_timeframe}"
    {%- else %}
      {%- if '>' in rule.comparator %}
        {%- set compare_string = 'is too high' %}
      {%- else %}
        {%- set compare_string = 'is too low' %}
      {%- endif %}
    description           = "{{ compare_string }} {{ rule.comparator }} ${var.{{ id }}_threshold_{{ severity }}}"
    {%- endif %}
    severity              = "{{ severity | capitalize }}"
    detect_label          = "{{ severity | replace('critical', 'crit') | replace ('warning', 'warn') | upper }}"
    disabled              = coalesce({% if rules | length > 1 %}var.{{ id }}_disabled_{{ severity }}, {% endif %}var.{{ id }}_disabled, var.detectors_disabled)
    notifications         = coalescelist(lookup(var.{{ id }}_notifications, "{{ severity }}", []), var.notifications.{{ severity }})
    parameterized_subject = local.rule_subject{%- if type == 'heartbeat' -%}_novalue{% endif %}
    parameterized_body    = local.rule_body
  }
  {%- endfor %}
}

