module: wallix-bastion
name: status

transformation: true
aggregation: true

signals:
  signal:
    metric: wallix_bastion_up

rules:
  critical:
    threshold: 1
    comparator: "<"
    lasting_duration: "5m"
